.App {
  height: 100vh;
}

.VerticalBox {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.Tool-Bar {
  flex: 0 1 30px;
}
.Code-Editor {
  flex: 1 1 auto;
  overflow: hidden;
}

.footer {
  flex: 0 1 150px;
}
