.grid-box {
  border: solid gray 2px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.grid-label {
  flex: 0 1 20px;
  margin: 7px 7px 0 7px;
}
.grid-contents {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
.react-tabs__tab-list {
  padding-left: 7px !important;
}
.react-tabs__tab-panel--selected {
  flex: 1 1 auto;
  display: flex !important;
  flex-flow: column;
  overflow: hidden;
}
.Code-Editor {
  flex: 1 1 auto;
  overflow: hidden;
  margin: 0 7px 7px 7px;
}
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(219, 158, 24, 0.897);
  border-bottom: 2px solid rgba(219, 158, 24, 0.897);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}
